#1 Common install by OS
- debug:
    msg: Will install components on {{ ansible_distribution }}
  
- name: Check OS support, if not support, exit ansible
  fail: msg="OS not supported,exit!"
  when: ansible_distribution not in common_os_support

- include: "{{ansible_os_family}}.yml"


#2 Pip install
- block:
  - name: pip upgrade
    shell: python{{ansible_python.version.major}} -m pip install -U pip
    
  - name: Install pip requirements module
    pip:
      name: [pexpect,PyMySQL]
      extra_args: "-U" 
  when: common_install_python_modules

#3 Configure
- name: Create common folder
  file:
    path: '/data/{{item}}'
    state: directory
    recurse: yes
    mode: '0750'
  with_items:
    - logs
    - config
    - cert
    - wwwroot
    
- block:
  - name: Set swapiness
    sysctl:
      name: vm.swappiness
      value: "10"

  - name: Fix No space left on device
    sysctl:
      name: fs.inotify.max_user_watches
      value: "8192000"
  when: ansible_distribution != 'OracleLinux'

- block:
  - name: set a regular hostname, remove "."
    shell: get_hostname=$(hostname);echo ${get_hostname%%.*}
    register: common_get_hostname
  - hostname:
      name: "{{common_get_hostname.stdout}}"
